.course_autor {
    position: relative;
    background-image: url('../images/course_autor_backgraund.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, #00E0FF, #4AD9EC, #00E0FF);
        box-shadow:
            0 3px 15px rgba(0, 224, 255, 0.93),
            0 4px 15px rgba(74, 217, 236, 1),
            0 0px 24px rgba(0, 224, 255, 1);
        pointer-events: none;
        filter: blur(2px);
    }

    .container {
        .autor_title {
                    padding-bottom: 40px;
                    font-size: 54px;
                    font-weight: 500;
                    color: $white;
                    text-transform: uppercase;
                }
        .course_autor_flex {
            display: flex;

            .course_autor_left {
                padding-top: 100px;
                width: 50%;
                .autor_text {
                    font-weight: 500;
                    font-size: 15px;
                    color: $white;
                    line-height: 24px;
                }
                .padd {
                    padding-top: 23px;
                }
            }
            .course_autor_right {
                img {
                    position: relative;
                    max-width: 125%;
                }
                .name_autor {
                    position: absolute;
                    bottom: 86px;
                    right: 277px;

                    h3 {
                        font-weight: 700;
                        color: #00E0FF;
                        font-size: 24px;
                        span {
                            font-size: 14px;
                            color: $white;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}