@font-face {
    font-family: "Avenirnextcyr";
    src: url(../fonts/avenirnextcyr-bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Avenirnextcyr";
    src: url(../fonts/avenirnextcyr-demi.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Avenirnextcyr";
    src: url(../fonts/avenirnextcyr-medium.ttf);
    font-weight: 500;
}