.important {
    position: relative;
    background: linear-gradient(to right, #022335 0%, #0C373D 100%);
    padding-top: 105px;
    padding-bottom: 129px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, #00E0FF, #4AD9EC, #00E0FF);
        box-shadow:
            0 3px 15px rgba(0, 224, 255, 0.93),
            0 4px 15px rgba(74, 217, 236, 1),
            0 0px 24px rgba(0, 224, 255, 1);
        pointer-events: none;
        filter: blur(2px);
    }
    .container {
        h2 {
            text-transform: uppercase;
            font-size: 54px;
            font-weight: 500;
            color: $white;

            span {
                color: $turquoise;
                text-transform: uppercase;
                font-size: 54px;
                font-weight: 500;
            }
        }
        .important_first_line {
            display: flex;
            padding-top: 55px;

            .important_first_info {
                padding-right: 42px;

                    &:last-child {
                        padding-right: 0;
                    }
                .info_first {
                    display: flex;

                    .info_text {
                        padding-left: 20px;
                        padding-top: 38px;
                        @include importantText;
                    }
                }
            }
        }
        .important_second_line {
            display: flex;
            padding-top: 46px;

            .important_second_info {
                padding-right: 74px;
                padding-left: 49px;

                    &:last-child {
                        padding-right: 0;
                    }
                .info_second {
                    display: flex;


                    .info_text {
                        color: white;
                        line-height: 23px;
                        padding-right: 20px;
                        @include importantText;
                    }
                }

            }
        }
    }
}