.intelligence {
    background-image: url('../images/intelligence_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-top: 117px;
    padding-bottom: 109px;

    .container {
        h2 {
            text-transform: uppercase;
            font-size: 54px;
            font-weight: 500;
            color: $white;

            span {
                color: $turquoise;
                text-transform: uppercase;
                font-size: 54px;
                font-weight: 500;
            }
        }
        .intelligence_section_inner {
            padding-top: 64px;
            .section_inner_first {
                height: 61px;
                background: linear-gradient(to right,
                rgba(31, 63, 77, 0.3) 0%,
                rgba(31, 63, 77, 0.3) 54%,
                rgba(31, 75, 94, 0) 100%);
                .first_flex {
                    position: relative;
                    display: flex;
                    .checked {
                        margin-top: 12px;
                        margin-left: 24px;
                        width: 33px;
                        height: 33px;
                    }
                    .first_info_text {
                        padding-top: 20px;
                        padding-left: 19px;
                        @include intelligenceText;
                    }
                    .ellipse {
                        position: absolute;
                        top: 14px;
                        left: 56px;
                    }
                }
            }
            .section_inner_second {
                height: 118px;
                margin-top: 10px;
                background: linear-gradient(to right,
                rgba(31, 63, 77, 0.3) 0%,
                rgba(31, 63, 77, 0.3) 54%,
                rgba(31, 75, 94, 0) 100%);
                .second_flex {
                    position: relative;
                    display: flex;
                    .checked  {
                        width: 33px;
                        height: 33px;
                        margin-top: 12px;
                        margin-left: 24px;
                    }
                    .second_info_text {
                        padding-top: 20px;
                        padding-left: 19px;
                        @include intelligenceText;
                    }
                    .ellipse {
                        position: absolute;
                        top: 14px;
                        left: 56px;
                    }
                }
            }
            .section_inner_third {
                height: 94px;
                margin-top: 10px;
                background: linear-gradient(to right,
                rgba(31, 63, 77, 0.3) 0%,
                rgba(31, 63, 77, 0.3) 54%,
                rgba(31, 75, 94, 0) 100%);
                .third_flex {
                    position: relative;
                    display: flex;
                    .checked {
                        width: 33px;
                        height: 33px;
                        margin-top: 12px;
                        margin-left: 24px;
                    }
                    .third_info_text {
                        padding-top: 20px;
                        padding-left: 19px;
                        @include intelligenceText;
                    }
                    .ellipse {
                        position: absolute;
                        top: 14px;
                        left: 56px;
                    }
                }
            }
            .section_inner_fourth {
                height: 80px;
                margin-top: 10px;
                background: linear-gradient(to right,
                rgba(31, 63, 77, 0.3) 0%,
                rgba(31, 63, 77, 0.3) 54%,
                rgba(31, 75, 94, 0) 100%);
                .fourth_flex {
                    position: relative;
                    display: flex;
                    .checked  {
                        width: 33px;
                        height: 33px;
                        margin-top: 12px;
                        margin-left: 24px;
                    }
                    .fourth_info_text {
                        padding-top: 20px;
                        padding-left: 19px;
                        @include intelligenceText;
                    }
                    .ellipse {
                        position: absolute;
                        top: 14px;
                        left: 56px;
                    }
                }
            }
        }
        .intelligence_button {
            button {
                margin-top: 69px;
                @include mainButton;
            }
        }
    }
}