.learning {
    position: relative;
    background-image: url('../images/learning_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 112px;
    padding-top: 105px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, #00E0FF, #4AD9EC, #00E0FF);
        box-shadow:
            0 3px 15px rgba(0, 224, 255, 0.93),
            0 4px 15px rgba(74, 217, 236, 1),
            0 0px 24px rgba(0, 224, 255, 1);
        pointer-events: none;
        filter: blur(2px);
    }
    .container {
        .learning_left {
            h2 {
                text-transform: uppercase;
                font-size: 54px;
                font-weight: 500;
                color: $white;
                span {
                    color: $turquoise;
                    text-transform: uppercase;
                    font-size: 54px;
                    font-weight: 500;
                }
            }
            .learning_section_inner {
                padding-top: 38px;
                .learning_section_inner_first {
                    .inner_first_flex {
                        position: relative;
                        display: flex;
                        img {
                            margin-right: 21px;
                            width: 36px;
                            height: 36px;
                        }
                        .inner_info_text {
                            padding-top: 11px;
                            @include learningText;
                        }
                        .learning_ellipse {
                            position: absolute;
                            width: 41px;
                            top: 6px;
                            left: 42px;
                        }
                    }
                }
                .learning_section_inner_second {
                    padding-top: 22px;
                    .inner_second_flex {
                        position: relative;
                        display: flex;
                        img {
                            margin-right: 21px;
                            width: 36px;
                            height: 36px;
                        }
                        .inner_info_text {
                            padding-top: 11px;
                            @include learningText;
                        }
                        .learning_ellipse {
                            position: absolute;
                            width: 41px;
                            top: 6px;
                            left: 42px;
                        }
                    }
                }
                .learning_section_inner_third {
                    padding-top: 21px;
                    .inner_third_flex {
                        position: relative;
                        display: flex;
                        img {
                            margin-right: 21px;
                            width: 36px;
                            height: 36px;
                        }
                        .inner_info_text {
                            padding-top: 11px;
                            @include learningText;
                        }
                        .learning_ellipse {
                            position: absolute;
                            width: 41px;
                            top: 6px;
                            left: 42px;
                        }
                    }
                }
                .learning_section_inner_fourth {
                    padding-top: 45px;
                    .inner_fourth_flex {
                        position: relative;
                        display: flex;
                        img {
                            margin-right: 21px;
                            width: 36px;
                            height: 36px;
                        }
                        .inner_info_text {
                            padding-top: 11px;
                            @include learningText;
                        }
                        .learning_ellipse {
                            position: absolute;
                            width: 41px;
                            top: 6px;
                            left: 42px;
                        }
                    }
                }
                .learning_section_inner_fifth {
                    padding-top: 20px;
                    .inner_fifth_flex {
                        position: relative;
                        display: flex;
                        img {
                            margin-right: 21px;
                            width: 36px;
                            height: 36px;
                        }
                        .inner_info_text {
                            margin-top: 11px;
                            @include learningText;
                        }
                        .learning_ellipse {
                            position: absolute;
                            width: 41px;
                            top: 6px;
                            left: 42px;
                        }
                    }
                }
            }
            .learning_button {
                button {
                    margin-top: 53px;
                    @include mainButton;
                }
            }
        }
    }
}