@media (max-width: 992px) {

    //Header block
    header {
        padding-bottom: 90px;
    }

    //Reasons block
    .reasons {
        padding-top: 90px;
        .container {
            h2 {
                font-size: 40px;
                padding-bottom: 30px;
                span {
                    font-size: 40px;
                }
            }
            .reasons_cards {
                .reasons_cards_first_line {
                    flex-wrap: wrap;
                    gap: 30px;
                    .card_first_line {
                         flex: 1 1 calc(50% - 20px);
                         margin-top: 0px;
                    }
                }
                .reasons_cards_second_line {
                    flex-wrap: wrap;
                    gap: 30px;
                    .cards_second_line {
                        flex: 1 1 calc(50% - 20px);
                         margin-top: 0px;
                    }
                }
            }
        }
    }

    //Intelligence block
    .intelligence {
        padding-top: 90px;
        .container {
            h2 {
                font-size: 40px;
                span {
                    font-size: 40px;
                }
            }
        }
    }

    //Important block
    .important {
        padding-top: 90px;
        padding-bottom: 90px;
        .container {
            h2 {
                font-size: 40px;
                span {
                    font-size: 40px;
                }
            }
            .important_first_line {
                justify-content: center;
                .important_first_info {
                    .info_first {
                        display: block;
                        padding-left: 39px;
                    }
                }
            }
            .important_second_line {
                justify-content: center;
                .important_second_info {
                    .info_second {
                        flex-direction: column;
                        img {
                            order: 1;
                            width: 285px;
                            height: 217px;
                        }
                        .info_text {
                            order: 2;
                            padding-top: 20px;
                            padding-left: 38px;
                        }
                    }
                }
                .img_padding {
                    padding-left: 16px;
                }
            }
        }
    }

    //Learning block
    .learning {
        padding-bottom: 90px;
        .container {
            .learning_left {
                h2 {
                    font-size: 40px;
                    span {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    //Courses block
    .courses {
        padding-bottom: 90px;
        .container {
            h2 {
                font-size: 40px;
                span {
                    font-size: 40px;
                }
            }
        }
    }

    //Course_author block
    .course_autor {
        padding-top: 105px;
        .container {
            .autor_title {
                font-size: 40px;
            }
            .course_autor_flex {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .course_autor_left {
                    padding-top: 0px;
                }
                .course_autor_right {
                    .name_autor {
                        bottom: 4%;
                        right: 35%;
                    }
                }
            }
        }
    }

    //School_announcements block
    .school {
        padding-top: 90px;
        .container {
            .school_flex {
                h2 {
                    font-size: 40px;
                }
            }
            .slider {
                .prev {
                    left: 165px;
                    top: 120px;
                }
                .next {
                    right: 165px;
                    top: 120px;
                }
                .slider_window {
                    .cards_container {
                        .card {
                            flex: 0 0 calc(100% / 2);
                            .card_title {
                                font-size: 14px;
                            }
                            .card_text {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    //Vacancies block
    .vacancies {
        padding-top: 90px;
        .container {
            .vacancies_flex {
                h2 {
                      font-size: 40px;
                }
            }
            .slider {
                .prev {
                    left: 165px;
                    top: 120px;
                }
                .next {
                    right: 165px;
                    top: 120px;
                }
                .slider_window {
                    .cards_container {
                        .card {
                            flex: 0 0 calc(100% / 2);
                            .card_title {
                                font-size: 14px;
                            }
                            .card_text {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    //Footer
    .footer {
        .footer_copyright {
            .first_line {
                display: none;
            }
            .copyright {
                text-align: center;
                width: 100%;
            }
            .second_line {
                display: none;
            }
        }
    }
}